* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /*background: rgb(61, 93, 189);*/
  /*background: linear-gradient(*/
  /*        126deg,*/
  /*        rgba(61, 93, 189, 1) 0%,*/
  /*        rgba(33, 63, 107, 1) 96%*/
  /*);*/
  /*height: 100vh;*/
  color: #e4e4e4;
  line-height: 1.5;
  background-image: url("./images/main/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Kosugi";
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #1f1d1f;
}
::-webkit-scrollbar-thumb{
  background-color: #3a3434;
}




